
.header-menu
{

    @extend menu;
    display: block;
    background:
        url( '/static/image/header_menu/first_background.png' ) no-repeat center center / cover,
        url( '/static/image/header_menu/second_background.png' ) no-repeat center center / cover;
    font-size: 24px;
    padding: 0;
    margin: 0;
    border: 0;
    +Media( min-width-10em )
    {
        display: block;
        padding: 8px;
        margin: 8px 16px;
        border: 8px;
    }

}

.header-menu-button
{
    @extend menu-button;
    display: block;
    background:
        url( '/static/image/header_menu/first_background.png' ) no-repeat center center / cover,
        url( '/static/image/header_menu/second_background.png' ) no-repeat center center / cover;
    font-size: 24px;
    padding: 0;
    margin: 0;

    border: 0;
    +Media( min-width-10em )
    {
        display: block;
        padding: 8px;
        margin: 8px 16px;
        border: 8px;
    }
}

+Media( min-width-20em )
{
    .header-menu
    {
        display: block;
        padding: 16px;
        margin: 16px;
        border: 16px;
    }

    .header-menu-button
    {
        display: block;
        padding: 16px;
        margin: 16px;
        border: 16px;
    }
}

+Media( min-width-30em )
{
    .header-menu
    {
        display: block;
        padding: 24px;
        margin: 24px;
        border: 24px;
    }

    .header-menu-button
    {
        display: block;
        padding: 24px;
        margin: 24px;
        border: 24px;
    }
}

