
.header-menu
{

    display: block;
    background:
        url( '/static/image/header_menu/first_background.png' ),
        url( '/static/image/header_menu/second_background.png' );
    padding: 0;
    margin: 0;
    border: 0;

    +Media( above-10em )
    {
        display: block;
        padding: 11px;
        margin: 11px;
        border: 11px;
    }

}

.header-menu-button
{
    display: block;
    background:
        url( '/static/image/header_menu/first_background.png' ),
        url( '/static/image/header_menu/second_background.png' );
    padding: 0;
    margin: 0;
    border: 0;

    +Media( above-10em )
    {
        display: block;
        padding: 12px;
        margin: 12px;
        border: 12px;
    }
}

+Media( above-20em )
{

    .header-menu
    {
        display: block;
        padding: 21px;
        margin: 21px;
        border: 21px;
    }


    .header-menu-button
    {
        display: block;
        padding: 22px;
        margin: 22px;
        border: 22px;
    }

}

+Media( above-30em )
{
    .header-menu
    {
        display: block;
        padding: 31px;
        margin: 31px;
        border: 31px;
    }

    .header-menu-button
    {
        display: block;
        padding: 32px;
        margin: 32px;
        border: 32px;
    }
}

